@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
$heading-font-family: 'Poppins', sans-serif;
$heading-font-weight: 600;

$body-font-family: 'Poppins', sans-serif;
$body-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  color: $color-body-text;
}
